.vote-poll-form{
    width: 40rem;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -10rem 0 0 -20rem;
}

.vote-poll-container
{
    background-color: rgba(210, 77, 87,0.4);
    padding: 1rem;
    flex-wrap:wrap;
    border-radius: 1rem;
    mix-blend-mode:hard-light;
    overflow: hidden;
}

.poll-title, .radiobtn label{
    padding: 0.5rem;
    color: black;
    background-color: rgba(245, 222, 179, 0.795);
    display: block;
    
}

.poll-title{
    margin-top: 0;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
    width: 36.5rem;
}
.radiobtn label{
    font-size: 2rem;
    width: 36.5rem;
}

.poll-vote-btn {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  float: right;
  margin-top: 1rem;
}

.poll-vote-btn:hover,
.poll-vote-btn:active {
  background-color: initial;
  background-position: 0 0;
  color:  rgb(245, 222, 179);
}

.poll-vote-btn:active {
  opacity: .5;
}


.radiobtn {
	position: relative;
	display: block;
    margin-bottom: 2px;
}

.radiobtn label {
    display: block;
    cursor: pointer;
}

.radiobtn input[type=radio] {
position: absolute;
opacity: 0;
width: 100%;
height:100%;
cursor: pointer;
margin: 0;
}
  
.radiobtn input[type=radio]:checked + label {
background: #fdcb77;
}

.radiobtn:hover {
    background: #fdcb77;
    }


  

