<div class="vote-poll-form">
    <div class="vote-poll-container">
        <p class="poll-title" [textContent]="pollForm.title"></p>
        <div *ngFor="let option of pollForm.options; let i = index">
            <div class="radiobtn">
            <input type="radio" name="rad" [(ngModel)]="selectedOptionId" [value]="option.id">
            <label [htmlFor]="option.id" [textContent]="option.value"></label>
            </div>
        </div>
        <div class="button-row">
        <button (click)="sendVote()" class="poll-vote-btn poll-vote-btn-bg">Vote</button>
        <button [routerLink]="'/home/poll-result/'+pollForm.id" class="poll-result-btn poll-vote-btn">Results</button>
        <button (click)="copyLink()" class="poll-result-btn poll-vote-btn">Copy link</button>
        </div>
    </div>
</div>
