<div class="create-poll-form">
    <div class="create-poll-container">
        <input type="text" placeholder="Title" class="poll-title"  [(ngModel)]="pollForm.title">
        <div class="poll-row" *ngFor="let option of pollForm.options; let i = index">
            <input type="text" placeholder="Option" class="poll-element"
            [(ngModel)]="option.value">
            <a (click)="removeOption(i)" class="poll-remove-option">-</a>
        </div>
        <a (click)="addOption()" class="poll-add-option">+</a>
        <button (click)="createPoll()" class="poll-create-btn">Create</button>
    </div>
</div>



